# Archivos de Python
__pycache__/
*.__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.egg-info/
dist/
build/
*.egg

# Entornos virtuales
.venv/
venv/
ENV/
.env
# Archivos de logs
logs/
*.log

# Archivos temporales del sistema
*.swp
*.swo
*.swn
*.bak

# Archivos de IDE
.vscode/
.idea/
*.iml
*.suo
*.user
*.userprefs